{% extends "base.html" %}
{% block maincontent %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Tower Name</th>
            <th scope="col">Floor Name</th>
            <th scope="col">Flat Number</th>
            <th scope="col">Flat Price</th>
            <th scope="col">Flat Status</th>
        </tr>
        </thead>
        <tbody>
        {% for row in flats %}
            <tr>
                <th scope="row">{{ row.floor_id.tower_id.project_id.project_name }}</th>
                <td>{{ row.floor_id.tower_id.tower_name }}</td>
                <td>{{ row.floor_id.floor_no }}</td>
                <td>{{ row.flat_no }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}